<html>

<head>
  <title>Sewer inspector application</title>
  <style>
  </style>
</head>

<body>
  <h1>Sewer inspector application</h1>

  <form action="/settings" method="get">
    <button name="settingsButton" type="submit">Settings</button>
  </form>

  <form action="/inspection" method="get">
    <button name="inspectionButton" type="submit">Go to inspection screen</button>
  </form>
  <form action="/ricoh" method="get">
    <button name="ricohScreenButton" type="submit">Go to Ricoh screen</button>
  </form>

</body>

</html>