<html>

<head>
    <title>Sewer inspector application</title>
    <style>
        #general_table_style,
        #ricoh_info_table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #general_table_style td,
        #general_table_style th,
        #ricoh_info_table td,
        #ricoh_info_table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #general_table_style tr:nth-child(even),
        #ricoh_info_table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #general_table_style tr:hover,
        #ricoh_info_table tr:hover {
            background-color: #ddd;
        }

        #general_table_style th,
        #ricoh_info_table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: darkcyan;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Sewer inspector application</h1>
    <form action="/" method="GET">
        <button name="backButton" type="submit">Back</button>
    </form>
    <table id="general_table_style" name="connectToRicoh">
        <!-- Post device credentials -->
        <tbody>
            <tr>
                <th>
                    Name: {{cameraName}} | Password: {{cameraPassword}}
                </th>
                <th>Device status: {{ricoh_status}} </th>
                <th>
                    <form action="/connect_to_ricoh_screen/" method="post">
                        <button name="cameraWifi" type="submit">Connect to camera</button>
                    </form>
                    <form action="/disconnect_ricoh/" method="post">
                        <button name="cameraWifi" type="submit">Disconnect camera</button>
                    </form>
                </th>
            </tr>
            </th>
            <tr>
                <form action="/post_credentials/" method="post">
                    <td><input name="cameraName" type="text" /> </td>
                    <td><input name="cameraPassword" type="text" /></td>
                    <td> <button name="submitCameraCredentials" type="submit">Submit cameraCredentials</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>

    <br><br>


    <table id="general_table_style" name="ricohDeviceTable">
        <tbody>
            <caption><strong>Ricoh device control</strong></caption>


            <!-- Start stop download latest recording -->
            <tr>
                <th>
                    <form action="/start/" method="post">
                        <button name="startButton" type="submit">Start Recording</button>
                    </form>
                </th>
                <th>
                    <form action="/stop/" method="post">
                        <button name="stopButton" type="submit">Stop Recording</button>
                    </form>
                </th>

                <th>
                    <form action="/download_last/" method="post">
                        <button name="downloadLast" type="submit">Download last recording</button>
                    </form>
                </th>
            </tr>
            </td>
            </tr>
        </tbody>
    </table>

    <br><br>


    <div style="height: 300px; overflow: auto">

        <table id="general_table_style" name="ricohFilesTable">
            <tbody>
                <caption><strong>List files</strong></caption>
                <tr>
                    <th colspan='4'>Media files on device</th>

                </tr>
                {% if media_files %}
                {% for mfile in media_files %}
                <tr>
                    <td>{{mfile.name}}</td>
                    <td>{{mfile.dateTime}}</td>
                    <td>Resolution width: {{mfile.width}} height: {{mfile.height}}</td>
                    <td>
                        {%if mfile%}
                        <form action="/download_file/" method="post">
                            <button name="downloadFileButton" type="submit" , value={{mfile.fileUrl}}>Download for
                                processing</button>
                        </form>
                        <form action="/delete_file/" method="post">
                            <button name="deleteFileButton" type="submit" , value={{mfile.fileUrl}}>Delete device from
                                camera storage</button>
                        </form>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
                {%else%}
                <tr>
                    <td colspan="4">Connect to device first</td>
                </tr>
                {%endif%}
            </tbody>
        </table>
    </div>
    <br><br>
    <table id="general_table_style" name="previewAndSettingsTable">
        <tbody>
            <caption><strong>Live preview</strong></caption>
            {%if deviceInfo%}
            <tr>
                <td>
                    <img id="camPreview" src="{{ url_for('ricoh_feed') }}">
                </td>

                <td>
                    <table id="ricoh_info_table" name="ricohInfoTable">
                        <tbody>
                            <caption><strong>Device info</strong></caption>
                            {%if deviceInfo%}
                            <tr>
                                <th>Device battery level</th>
                                <td>{{deviceInfo.battery_level}}</td>
                            </tr>
                            <tr>
                                <th>Device capture status</th>
                                <td>{{deviceInfo.captureStatus}}</td>
                            </tr>
                            <tr>
                                <th>Device storage left</th>
                                <td>{{deviceInfo.storage_left/1000000 }}</td>
                            </tr>
                            <tr>
                                <th>Remaning video minutes</th>
                                <!-- time comes in seconds; /60 gives minutes -->
                                <td>{{deviceInfo.remaning_video_seconds/60}}</td>
                            </tr>
                            <tr>
                                <th>Device capture mode</th>
                                <td>{{deviceInfo.capture_mode}}</td>
                            </tr>

                            <tr>
                                <th>File format</th>
                                <td>Width: {{deviceInfo.fileFormat['width']}} Height: {{deviceInfo.fileFormat.height}}
                                    Format: {{deviceInfo.fileFormat.type}}</td>
                            </tr>
                            {%else%}
                            <tr>
                                <td colspan="4">Connect to Ricoh device first</td>
                            </tr>
                            {%endif%}
                        </tbody>
                    </table>


                    <table id="general_table_style" name="previewAndSettingsTable">
                        <tbody>
                            <caption><strong>Camera settings</strong></caption>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    <form action="/set_automatic_settings/" method="post">
                                        <button name="automaticSettings" type="submit">Automatic settings</button>
                                    </form>
                                </th>
                                <th>
                                    <form action="/set_manual_settings/" method="POST" id='manual'>

                                        <button name="manualSetting" type="submit"
                                            onclickonclick="document.getElementById('manual').submit();">Set camera
                                            setting</button>
                                </th>
                            </tr>

                            <tr>
                                <th>ISO sensitivity </th>
                                <td>
                                    <select name="ISOsensitivity" id="iso">
                                        <option selected></option>
                                        <option value="0"> 0 (AUTO)</option>
                                        <option value="64">64 </option>
                                        <option value="80">80 </option>
                                        <option value="100">100 </option>
                                        <option value="160">160 </option>
                                        <option value="200">200 </option>
                                        <option value="250">250 </option>
                                        <option value="320">320 </option>
                                        <option value="400">400 </option>
                                        <option value="500">500 </option>
                                        <option value="640">640 </option>
                                        <option value="800">800 </option>
                                        <option value="1000">1000 </option>
                                        <option value="1250">1250 </option>
                                        <option value="1600">1600 </option>
                                        <option value="2000">2000 </option>
                                        <option value="2500">2500 </option>
                                        <option value="3200">3200 </option>
                                        <option value="4000">4000 </option>
                                        <option value="5000">5000 </option>
                                        <option value="6000">6000 </option>
                                    </select>


                                </td>
                            </tr>
                            <tr>
                                <th>Aperture</th>
                                <td>
                                    <select name="aperature" id="aperture">
                                        <option selected></option>

                                        <option value="2.0">2.0 </option>
                                        <option value="0"> 0 (AUTO)</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>Set shutter speed</th>
                                <td>
                                    <select name="shutterSpeed" id="shutter">
                                        <option selected></option>

                                        <option value="0"> 0 (AUTO)</option>
                                        <option value="0.00004">1/25000 </option>
                                        <option value="0.00005">1/20000 </option>
                                        <option value="0.0000625">1/16000 </option>
                                        <option value="0.00008">1/12500 </option>
                                        <option value="0.0001">1/10000 </option>
                                        <option value="0.000125">1/8000 </option>
                                        <option value="0.00015625 ">1/6400 </option>
                                        <option value="0.0002">1/5000 </option>
                                        <option value="0.00025">1/4000 </option>
                                        <option value="0.0003125 ">1/3200 </option>
                                        <option value="0.0004">1/2500 </option>
                                        <option value="0.0.0005">1/2000 </option>
                                        <option value="0.000625">1/1600 </option>
                                        <option value="0.0008">1/1250 </option>
                                        <option value="0.001">1/1000 </option>
                                        <option value="0.00125 ">1/800 </option>
                                        <option value="0.0015625 ">1/640 </option>
                                        <option value="0.002">1/500 </option>
                                        <option value="0.0025">1/400 </option>
                                        <option value="0.003125">1/320 </option>
                                        <option value="0.004">1/250 </option>
                                        <option value="0.005">1/200 </option>
                                        <option value="0.00625">1/160 </option>
                                        <option value="0.008">1/125 </option>
                                        <option value="0.01">1/100 </option>
                                        <option value="0.0125">1/80 </option>
                                        <option value="0.01666666">1/60 </option>
                                        {%if 'video'== deviceInfo.capture_mode %}
                                        <option value="0.02">1/50 </option>
                                        <option value="0.025">1/40</option>
                                        <option value="0.03333333">1/30</option>
                                        {%endif%}

                                    </select>
                                </td>
                            </tr>
                            </form>

                            <tr>
                                <th>Device capture mode</th>

                                <td>
                                    <form action="/set_camera_capture_mode/" method="POST" id="shootingMode">
                                        <select name="shootingMode"
                                            onchange="document.getElementById('shootingMode').submit();">
                                            <option selected></option>

                                            <option value="video">Video</option>
                                            <option value="image">Image</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                </td>
            </tr>
            {%else%}
            <tr>
                <td colspan="4">Connect to device first</td>
            </tr>
            {%endif%}
        </tbody>
    </table>

    <script>
        async function pollData() {
            // Get detection data
            var baseUrl = window.location.protocol + "//" + window.location.host + "/" + "data";
            let response = await (await fetch(baseUrl)).text();
            let data = JSON.parse('' + response + '');
            var parsed_ricohData = JSON.parse(data[0]);

            // //Handle ricoh data
            var ricoh_table = document.getElementById("ricoh_info_table");
            console.log(ricoh_table)
            // populate with ricoh data
            var battery_level = ricoh_table.rows[0].cells.item(1);
            battery_level.innerHTML = parsed_ricohData.battery_level;
            var capture_status = ricoh_table.rows[1].cells.item(1);
            capture_status.innerHTML = parsed_ricohData.captureStatus;
            var deviceStorageLeft = ricoh_table.rows[2].cells.item(1);
            deviceStorageLeft.innerHTML = parsed_ricohData.storage_left / 1000000;
            var remaning_video_seconds = ricoh_table.rows[3].cells.item(1);
            remaning_video_seconds.innerHTML = (parsed_ricohData.remaning_video_seconds / 60);
            var capture_mode = ricoh_table.rows[4].cells.item(1);
            capture_mode.innerHTML = parsed_ricohData.capture_mode;
            var fileFormat = ricoh_table.rows[5].cells.item(1);
            fileFormat.innerHTML = 'Width:' + parsed_ricohData.fileFormat.width + ' Height:' + parsed_ricohData.fileFormat.height + ' Format:' + parsed_ricohData.fileFormat.type;
            // // end ricoh data table

            // Call the function every 5 seconds
            // TODO add option to set refresh rate..
            setTimeout(pollData, 5000);
        }
        // start the script 
        pollData();
    </script>

</body>

</html>