<html>

<head>
    <title>Sewer inspector application</title>
    <style>
        #general_table_style {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #general_table_style td,
        #general_table_style th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #general_table_style tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #general_table_style tr:hover {
            background-color: #ddd;
        }

        #general_table_style th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: darkcyan;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Sewer inspector application</h1>

    <form action="/" method="GET">
        <button name="backButton" type="submit">Back</button>
    </form>

    <br><br>

    <table id="general_table_style" name="connectToRicoh">
        <!-- Post device credentials -->

        <tbody>
            <tr>
                <th>
                    Name: {{cameraName}} | Password: {{cameraPassword}}
                </th>
                <th>Device status: {{ricoh_status}} </th>
                <th>
                    <form action="/connect_to_ricoh_screen/" method="post">
                        <button name="cameraWifi" type="submit">Connect to camera Wifi</button>
                    </form> <br>
                    <form action="/disconnect_ricoh/" method="post">
                        <button name="cameraWifi" type="submit">Disconnect camera</button>
                    </form>
                </th>
            </tr>

            </th>
            <tr>
                <form action="/post_credentials/" method="post">
                    <td><input name="cameraName" type="text" /> </td>
                    <td><input name="cameraPassword" type="text" /></td>
                    <td> <button name="submitCameraCredentials" type="submit">Submit cameraCredentials</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>

    <br><br>
    <!-- Turn depth device on/off -->
    <table id="general_table_style" name="depthDeviceTable">
        <tbody>
            <caption>
                <strong>Depth device control</strong>
            </caption>
            <!-- Check if device is operational -->
            <tr>
                <th>Depth device status</td>
                <th>
                    {% if realsense_device_status %}
                    Depth device is operational..
                    {% else %}
                    Depth device streams are not enabled....
                    {% endif %}
                </th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form action="/realsense_on/" method="post">
                        <button name="realsenseOn" type="submit">Turn depth device on</button>
                    </form>
                </td>

                <td>
                    <form action="/realsense_off/" method="post">
                        <button name="realsenseOff" type="submit">Turn depth device off</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <!-- Turn detection on/off -->
    <table id="general_table_style" name="detectorControlTable">
        <tbody>
            <tr>
                <th><strong>Detector control</strong></th>
                <th>Detection enabled: {{detector_enabled}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <form action="/enable_detector_yolo/" method="post">
                        <button name="detectorOn" type="submit"> Launch Yolo 4 tiny detector</button><br /><br />
                        <span title="Valid values from 0.01 to 1">Threshold:
                            <input name="thresh" type="text"/>

                        </span><br /><br />
                        <span title="Valid values from 0.01 to 1">Confidence:
                            <input name="confidence" type="text"/>
                        </span><br /><br />
                        <span title="Valid values are integers (default is 350)">Tracker threshold:
                            <input name="tracker_dst" type="text"/>
                        </span><br />
                    </form>
                </td>
                <td>
                    <form action="/enable_detector_yolo_full/" method="post">
                        <button name="detectorOn" type="submit"> Launch Yolo 4 detector</button><br /><br />
                        <span title="Valid values from 0.01 to 1">Threshold:
                            <input name="thresh" type="text"/>
                            
                        </span><br /><br />
                        <span title="Valid values from 0.01 to 1">Confidence:
                            <input name="confidence" type="text"/>
                        </span><br /><br />
                        <span title="Valid values are integers (default is 350)">Tracker threshold:
                            <input name="tracker_dst" type="text"/>
                        </span><br />
                    </form>
                </td>
                <td>
                    <form action="/enable_detector_yolo_sewer/" method="post">
                        <button name="detectorOn" type="submit"> Launch Yolo 4 tiny sewer detector</button><br /><br />
                        <span title="Valid values from 0.01 to 1">Threshold:
                            <input name="thresh" type="text"/>
                            
                        </span><br /><br />
                        <span title="Valid values from 0.01 to 1">Confidence:
                            <input name="confidence" type="text"/>
                        </span><br /><br />
                        <span title="Valid values are integers (default is 350)">Tracker threshold:
                            <input name="tracker_dst" type="text"/>
                        </span><br />
                    </form>
                </td>
                <td>
                    <form action="/enable_detector_mrcnn/" method="post">
                        <button name="detectorOn" type="submit"> Launch Mask RCNN detector</button><br /><br />
                        <span title="Valid values from 0.01 to 1">Threshold:
                            <input name="thresh" type="text"/>
                            
                        </span><br /><br />
                        <span title="Valid values from 0.01 to 1">Confidence:
                            <input name="confidence" type="text"/>
                        </span><br /><br />
                        <span title="Valid values are integers (default is 350)">Tracker threshold:
                            <input name="tracker_dst" type="text"/>
                        </span><br />
                    </form>
                </td>
                <td>
                    <form action="/disable_detector/" method="post">
                        <button name="detectorOff" type="submit">Detector off</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>